body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:18323px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:1600px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:1600px;
  display:flex;
}
#u943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3203px;
  height:1600px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:5520px;
  top:0px;
  width:3203px;
  height:1600px;
  display:flex;
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3200px;
  height:1600px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:8723px;
  top:0px;
  width:3200px;
  height:1600px;
  display:flex;
}
#u945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3200px;
  height:1600px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:11923px;
  top:0px;
  width:3200px;
  height:1600px;
  display:flex;
}
#u946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3200px;
  height:1600px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:15123px;
  top:0px;
  width:3200px;
  height:1600px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:1600px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:2960px;
  top:0px;
  width:2560px;
  height:1600px;
  display:flex;
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
