body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2470px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1835px;
  height:917px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2883px;
  width:1835px;
  height:917px;
  display:flex;
}
#u1507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  display:flex;
}
#u1508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:900px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:1800px;
  height:900px;
  display:flex;
}
#u1510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3892px;
  width:360px;
  height:638px;
  display:flex;
}
#u1511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
