body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2470px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1835px;
  height:917px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2883px;
  width:1835px;
  height:917px;
  display:flex;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  display:flex;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:900px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:1800px;
  height:900px;
  display:flex;
}
#u1406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3892px;
  width:360px;
  height:638px;
  display:flex;
}
#u1407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
