body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2470px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1835px;
  height:917px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2883px;
  width:1835px;
  height:917px;
  display:flex;
}
#u1689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  display:flex;
}
#u1690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:900px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:1800px;
  height:900px;
  display:flex;
}
#u1692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3892px;
  width:360px;
  height:638px;
  display:flex;
}
#u1693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
