body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2470px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1835px;
  height:917px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2883px;
  width:1835px;
  height:917px;
  display:flex;
}
#u1438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  display:flex;
}
#u1439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:900px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:1800px;
  height:900px;
  display:flex;
}
#u1441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3892px;
  width:360px;
  height:638px;
  display:flex;
}
#u1442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
