body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2470px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1835px;
  height:917px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2883px;
  width:1835px;
  height:917px;
  display:flex;
}
#u1739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  display:flex;
}
#u1740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1440px;
  height:900px;
  display:flex;
}
#u1741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:900px;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:990px;
  width:1800px;
  height:900px;
  display:flex;
}
#u1742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3892px;
  width:360px;
  height:638px;
  display:flex;
}
#u1743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
