body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:74px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:26px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:120px;
  width:174px;
  height:26px;
  display:flex;
  color:#FF00EF;
}
#u1659 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:89px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:177px;
  width:5px;
  height:73px;
  display:flex;
  -webkit-transform:rotate(1.13011175518136deg);
  -moz-transform:rotate(1.13011175518136deg);
  -ms-transform:rotate(1.13011175518136deg);
  transform:rotate(1.13011175518136deg);
}
#u1660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:190px;
  width:70px;
  height:16px;
  display:flex;
}
#u1661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:125px;
  width:42px;
  height:16px;
  display:flex;
}
#u1662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:256px;
  width:90px;
  height:105px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF00EF;
}
#u1663 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1663_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:450px;
  width:892px;
  height:411px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:115px;
  width:104px;
  height:26px;
  display:flex;
  color:#FFCB00;
}
#u1665 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
