body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:74px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:26px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:120px;
  width:174px;
  height:26px;
  display:flex;
  color:#FF00EF;
}
#u949 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:89px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:177px;
  width:5px;
  height:73px;
  display:flex;
  -webkit-transform:rotate(1.13011175518136deg);
  -moz-transform:rotate(1.13011175518136deg);
  -ms-transform:rotate(1.13011175518136deg);
  transform:rotate(1.13011175518136deg);
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:190px;
  width:70px;
  height:16px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:125px;
  width:42px;
  height:16px;
  display:flex;
}
#u952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:256px;
  width:90px;
  height:105px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF00EF;
}
#u953 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:450px;
  width:892px;
  height:411px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:115px;
  width:104px;
  height:26px;
  display:flex;
  color:#FFCB00;
}
#u955 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
