body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:74px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:26px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:120px;
  width:174px;
  height:26px;
  display:flex;
  color:#FF00EF;
}
#u1317 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:89px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:177px;
  width:5px;
  height:73px;
  display:flex;
  -webkit-transform:rotate(1.13011175518136deg);
  -moz-transform:rotate(1.13011175518136deg);
  -ms-transform:rotate(1.13011175518136deg);
  transform:rotate(1.13011175518136deg);
}
#u1318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:190px;
  width:70px;
  height:16px;
  display:flex;
}
#u1319 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:125px;
  width:42px;
  height:16px;
  display:flex;
}
#u1320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1320_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:256px;
  width:90px;
  height:105px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF00EF;
}
#u1321 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1321_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:450px;
  width:892px;
  height:411px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:115px;
  width:104px;
  height:26px;
  display:flex;
  color:#FFCB00;
}
#u1323 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1323_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
