body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:751px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:359px;
  width:1440px;
  height:751px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:446px;
  width:1152px;
  height:640px;
  display:flex;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:446px;
  width:32px;
  height:32px;
}
#u287_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1054px;
  width:32px;
  height:32px;
}
#u288_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:1054px;
  width:32px;
  height:32px;
}
#u289_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:446px;
  width:32px;
  height:32px;
}
#u290_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:408px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1920px;
  height:408px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:713px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:472px;
  width:1920px;
  height:713px;
  display:flex;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:762px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1191px;
  width:1920px;
  height:762px;
  display:flex;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:715px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1940px;
  width:1920px;
  height:715px;
  display:flex;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:584px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2670px;
  width:1920px;
  height:584px;
  display:flex;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  display:flex;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(32, 32, 32, 0.647058823529412);
  line-height:22px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:68px;
  height:64px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(32, 32, 32, 0.647058823529412);
  line-height:22px;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normal', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1F30FE;
  text-align:left;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:0px;
  width:140px;
  height:64px;
  display:flex;
  font-family:'Impact Normal', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1F30FE;
  text-align:left;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u299 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:0px;
  width:112px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:96px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(81, 81, 81, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1389px;
  top:24px;
  width:13px;
  height:16px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:24px;
  width:20px;
  height:20px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:0px;
  width:96px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:16px;
  width:140px;
  height:32px;
  display:flex;
}
#u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 244, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(32, 32, 32, 0.647058823529412);
  text-align:left;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:64px;
  width:140px;
  height:36px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(32, 32, 32, 0.647058823529412);
  text-align:left;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:9px 24px 9px 24px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 244, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(32, 32, 32, 0.647058823529412);
  text-align:left;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:98px;
  width:140px;
  height:36px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(32, 32, 32, 0.647058823529412);
  text-align:left;
}
#u309 .text {
  position:absolute;
  align-self:center;
  padding:9px 24px 9px 24px;
  box-sizing:border-box;
  width:100%;
}
#u309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 244, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(32, 32, 32, 0.647058823529412);
  text-align:left;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:134px;
  width:140px;
  height:36px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(32, 32, 32, 0.647058823529412);
  text-align:left;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:9px 24px 9px 24px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:52px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:307px;
  width:426px;
  height:52px;
  display:flex;
  color:#F322FF;
}
#u311 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:18px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
