body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:460px;
  width:200px;
  height:1px;
  display:flex;
}
#u1665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:350px;
  width:200px;
  height:1px;
  display:flex;
}
#u1666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:112px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:350px;
  width:1px;
  height:111px;
  display:flex;
}
#u1667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:112px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:350px;
  width:1px;
  height:111px;
  display:flex;
}
#u1668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:400px;
  width:200px;
  height:1px;
  display:flex;
}
#u1669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:112px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:350px;
  width:1px;
  height:111px;
  display:flex;
}
#u1670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:464px;
  width:8px;
  height:16px;
  display:flex;
}
#u1671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:464px;
  width:8px;
  height:16px;
  display:flex;
}
#u1672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:364px;
  width:8px;
  height:16px;
  display:flex;
}
#u1673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:424px;
  width:8px;
  height:16px;
  display:flex;
}
#u1674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:350px;
  width:0px;
  height:0px;
}
#u1675_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:208px;
  height:6px;
  -webkit-transform:rotate(-165.694448153378deg);
  -moz-transform:rotate(-165.694448153378deg);
  -ms-transform:rotate(-165.694448153378deg);
  transform:rotate(-165.694448153378deg);
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:461px;
  width:0px;
  height:0px;
}
#u1676_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-59px;
  width:122px;
  height:8px;
  -webkit-transform:rotate(65.7507955895986deg);
  -moz-transform:rotate(65.7507955895986deg);
  -ms-transform:rotate(65.7507955895986deg);
  transform:rotate(65.7507955895986deg);
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:461px;
  width:0px;
  height:0px;
}
#u1677_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-35px;
  width:158px;
  height:8px;
  -webkit-transform:rotate(156.898192805639deg);
  -moz-transform:rotate(156.898192805639deg);
  -ms-transform:rotate(156.898192805639deg);
  transform:rotate(156.898192805639deg);
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:330px;
  width:22px;
  height:16px;
  display:flex;
}
#u1678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:393px;
  width:22px;
  height:16px;
  display:flex;
}
#u1679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:504px;
  width:179px;
  height:16px;
  display:flex;
}
#u1680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:724px;
  width:550px;
  height:32px;
  display:flex;
}
#u1681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:912px;
  width:200px;
  height:1px;
  display:flex;
}
#u1682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:802px;
  width:200px;
  height:1px;
  display:flex;
}
#u1683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:112px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:802px;
  width:1px;
  height:111px;
  display:flex;
}
#u1684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:112px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:802px;
  width:1px;
  height:111px;
  display:flex;
}
#u1685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:842px;
  width:8px;
  height:16px;
  display:flex;
}
#u1686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:802px;
  width:0px;
  height:0px;
}
#u1687_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:210px;
  height:6px;
  -webkit-transform:rotate(-165.694448153378deg);
  -moz-transform:rotate(-165.694448153378deg);
  -ms-transform:rotate(-165.694448153378deg);
  transform:rotate(-165.694448153378deg);
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:913px;
  width:0px;
  height:0px;
}
#u1688_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-59px;
  width:124px;
  height:8px;
  -webkit-transform:rotate(65.7507955895986deg);
  -moz-transform:rotate(65.7507955895986deg);
  -ms-transform:rotate(65.7507955895986deg);
  transform:rotate(65.7507955895986deg);
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:913px;
  width:0px;
  height:0px;
}
#u1689_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-35px;
  width:158px;
  height:8px;
  -webkit-transform:rotate(156.898192805639deg);
  -moz-transform:rotate(156.898192805639deg);
  -ms-transform:rotate(156.898192805639deg);
  transform:rotate(156.898192805639deg);
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:786px;
  width:22px;
  height:16px;
  display:flex;
}
#u1690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:908px;
  width:22px;
  height:16px;
  display:flex;
}
#u1691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:908px;
  width:22px;
  height:16px;
  display:flex;
}
#u1692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:782px;
  width:22px;
  height:16px;
  display:flex;
}
#u1693 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:924px;
  width:8px;
  height:16px;
  display:flex;
}
#u1694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1028px;
  width:550px;
  height:64px;
  display:flex;
}
#u1695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:544px;
  width:93px;
  height:16px;
  display:flex;
}
#u1696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
