body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:751px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:359px;
  width:1440px;
  height:751px;
  display:flex;
}
#u350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:446px;
  width:1152px;
  height:640px;
  display:flex;
}
#u352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:446px;
  width:32px;
  height:32px;
}
#u353_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u353_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1054px;
  width:32px;
  height:32px;
}
#u354_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u354_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:1054px;
  width:32px;
  height:32px;
}
#u355_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:446px;
  width:32px;
  height:32px;
}
#u356_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  display:flex;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1F30FE;
  line-height:22px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:68px;
  height:64px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1F30FE;
  line-height:22px;
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u358_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:0px;
  width:140px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u359 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:0px;
  width:112px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u360 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:96px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u361 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(81, 81, 81, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:1389px;
  top:24px;
  width:13px;
  height:16px;
  display:flex;
}
#u364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:24px;
  width:20px;
  height:20px;
  display:flex;
}
#u365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:0px;
  width:96px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u366 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:16px;
  width:140px;
  height:32px;
  display:flex;
}
#u367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
