body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-630px;
  width:4954px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(249, 212, 104, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:1664px;
  width:50px;
  height:150px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 75, 150, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:1344px;
  width:150px;
  height:50px;
  display:flex;
}
#u381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:704px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:160px;
  width:704px;
  height:704px;
  display:flex;
}
#u382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:568px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:254px;
  width:568px;
  height:568px;
  display:flex;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(179, 116, 10, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:1394px;
  width:50px;
  height:150px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:171px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:2460px;
  top:435px;
  width:848px;
  height:171px;
  display:flex;
}
#u385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:437px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:3768px;
  top:294px;
  width:460px;
  height:437px;
  display:flex;
}
#u386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1334px;
  width:300px;
  height:170px;
  display:flex;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:140px;
  background:inherit;
  background-color:rgba(0, 146, 253, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:1384px;
  width:40px;
  height:140px;
  display:flex;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 158, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:1394px;
  width:150px;
  height:50px;
  display:flex;
}
#u389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:3486px;
  top:980px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:864px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:3486px;
  top:2004px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(106, 191, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:1344px;
  width:50px;
  height:150px;
  display:flex;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(65, 183, 131, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:1614px;
  width:50px;
  height:150px;
  display:flex;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(147, 86, 172, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:1614px;
  width:150px;
  height:50px;
  display:flex;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(179, 116, 10, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:1394px;
  width:150px;
  height:50px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(227, 227, 227, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:1664px;
  width:150px;
  height:50px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 158, 193, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EA5D5;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:1664px;
  width:150px;
  height:50px;
  display:flex;
  color:#3EA5D5;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 212, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1689px;
  width:60px;
  height:60px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(65, 183, 131, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1604px;
  width:60px;
  height:60px;
  display:flex;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(147, 86, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:1604px;
  width:60px;
  height:60px;
  display:flex;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 227, 227, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:1664px;
  width:60px;
  height:60px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(62, 158, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EA5D5;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:1724px;
  width:60px;
  height:60px;
  display:flex;
  color:#3EA5D5;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:2004px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:2004px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:3100px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:3100px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:3486px;
  top:3100px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:4560px;
  top:3124px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
