body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:3314px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(249, 212, 104, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:2120px;
  width:50px;
  height:150px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 75, 150, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1800px;
  width:150px;
  height:50px;
  display:flex;
}
#u342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:704px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:216px;
  width:704px;
  height:704px;
  display:flex;
}
#u343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:568px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:310px;
  width:568px;
  height:568px;
  display:flex;
}
#u344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(179, 116, 10, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1850px;
  width:50px;
  height:150px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:171px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1019px;
  width:848px;
  height:171px;
  display:flex;
}
#u346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:437px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:989px;
  width:460px;
  height:437px;
  display:flex;
}
#u347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1790px;
  width:300px;
  height:170px;
  display:flex;
}
#u348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:140px;
  background:inherit;
  background-color:rgba(0, 146, 253, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:1840px;
  width:40px;
  height:140px;
  display:flex;
}
#u349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 158, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1850px;
  width:150px;
  height:50px;
  display:flex;
}
#u350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:2288px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:1426px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:2360px;
  top:2200px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(106, 191, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1800px;
  width:50px;
  height:150px;
  display:flex;
}
#u354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:150px;
  background:inherit;
  background-color:rgba(65, 183, 131, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:2070px;
  width:50px;
  height:150px;
  display:flex;
}
#u355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(147, 86, 172, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:2070px;
  width:150px;
  height:50px;
  display:flex;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(179, 116, 10, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(151, 64, 254, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1850px;
  width:150px;
  height:50px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(227, 227, 227, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:2120px;
  width:150px;
  height:50px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(62, 158, 193, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EA5D5;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:2120px;
  width:150px;
  height:50px;
  display:flex;
  color:#3EA5D5;
}
#u359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 212, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:2145px;
  width:60px;
  height:60px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(65, 183, 131, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:2060px;
  width:60px;
  height:60px;
  display:flex;
}
#u361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(147, 86, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:2060px;
  width:60px;
  height:60px;
  display:flex;
}
#u362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 227, 227, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:2120px;
  width:60px;
  height:60px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(62, 158, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EA5D5;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:2180px;
  width:60px;
  height:60px;
  display:flex;
  color:#3EA5D5;
}
#u364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:3312px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1976px;
  top:3346px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:1976px;
  top:4526px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1024px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:4290px;
  width:1024px;
  height:1024px;
  display:flex;
}
#u368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
