body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:682px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:258px;
  width:1115px;
  height:682px;
  display:flex;
}
#u1461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:167px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:940px;
  width:1101px;
  height:167px;
  display:flex;
}
#u1462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:1022px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:485px;
  height:1022px;
  display:flex;
}
#u1463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:167px;
  background:inherit;
  background-color:rgba(11, 25, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:1123px;
  width:300px;
  height:167px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:147px;
  background:inherit;
  background-color:rgba(11, 25, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(25, 60, 204, 1), 0px 5px 5px 0px rgba(38, 23, 255, 1) inset;
  -webkit-box-shadow:5px 5px 5px rgba(25, 60, 204, 1), 0px 5px 5px 0px rgba(38, 23, 255, 1) inset;
  box-shadow:5px 5px 5px rgba(25, 60, 204, 1), 0px 5px 5px 0px rgba(38, 23, 255, 1) inset;
  font-size:18px;
  color:#FFFFFF;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:1023px;
  width:280px;
  height:147px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:170px;
  background:inherit;
  background-color:rgba(110, 110, 110, 0.925490196078431);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:88px;
  width:1071px;
  height:170px;
  display:flex;
}
#u1466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:145px;
  width:48px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1467 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1467_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:145px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:145px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:152px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:97px;
  width:688px;
  height:152px;
  display:flex;
}
#u1470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:88px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:97px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:333px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1473_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:973px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:152px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:97px;
  width:381px;
  height:152px;
  display:flex;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:20px;
  width:392px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
