body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:682px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:258px;
  width:1115px;
  height:682px;
  display:flex;
}
#u1279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:167px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:940px;
  width:1101px;
  height:167px;
  display:flex;
}
#u1280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:1022px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:485px;
  height:1022px;
  display:flex;
}
#u1281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:167px;
  background:inherit;
  background-color:rgba(11, 25, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:1123px;
  width:300px;
  height:167px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:147px;
  background:inherit;
  background-color:rgba(11, 25, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(25, 60, 204, 1), 0px 5px 5px 0px rgba(38, 23, 255, 1) inset;
  -webkit-box-shadow:5px 5px 5px rgba(25, 60, 204, 1), 0px 5px 5px 0px rgba(38, 23, 255, 1) inset;
  box-shadow:5px 5px 5px rgba(25, 60, 204, 1), 0px 5px 5px 0px rgba(38, 23, 255, 1) inset;
  font-size:18px;
  color:#FFFFFF;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:1023px;
  width:280px;
  height:147px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:170px;
  background:inherit;
  background-color:rgba(110, 110, 110, 0.925490196078431);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:88px;
  width:1071px;
  height:170px;
  display:flex;
}
#u1284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:145px;
  width:48px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:145px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:145px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:152px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:97px;
  width:688px;
  height:152px;
  display:flex;
}
#u1288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:88px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:97px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:333px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:973px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:152px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:97px;
  width:381px;
  height:152px;
  display:flex;
}
#u1294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:20px;
  width:392px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
