body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:43px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:320px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:112px;
  width:300px;
  height:320px;
  display:flex;
}
#u1199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:108px;
  width:300px;
  height:170px;
  display:flex;
}
#u1200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:480px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:462px;
  width:300px;
  height:480px;
  display:flex;
}
#u1201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:230px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:392px;
  width:347px;
  height:230px;
  display:flex;
}
#u1202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:234px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:112px;
  width:395px;
  height:234px;
  display:flex;
}
#u1203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:238px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:108px;
  width:390px;
  height:238px;
  display:flex;
}
#u1204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:226px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:394px;
  width:397px;
  height:226px;
  display:flex;
}
#u1205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:302px;
  width:170px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:293px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:345px;
  width:407px;
  height:293px;
  display:flex;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:652px;
  width:800px;
  height:450px;
  display:flex;
}
#u1208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:156px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1184px;
  width:706px;
  height:156px;
  display:flex;
  color:#FF00E9;
}
#u1209 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:377px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:652px;
  width:404px;
  height:377px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:462px;
  width:90px;
  height:40px;
  display:flex;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:640px;
  width:90px;
  height:40px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:560px;
  width:90px;
  height:40px;
  display:flex;
}
#u1213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:710px;
  width:90px;
  height:40px;
  display:flex;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:25px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:92px;
  width:366px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF00E9;
}
#u1215 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:64px;
  width:126px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:376px;
  width:112px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:20px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:325px;
  width:593px;
  height:20px;
  display:flex;
  color:#FF00E9;
}
#u1218 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:780px;
  width:608px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
