body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:43px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1037 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:320px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:112px;
  width:300px;
  height:320px;
  display:flex;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:108px;
  width:300px;
  height:170px;
  display:flex;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:480px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:462px;
  width:300px;
  height:480px;
  display:flex;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:230px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:392px;
  width:347px;
  height:230px;
  display:flex;
}
#u1041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:234px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:112px;
  width:395px;
  height:234px;
  display:flex;
}
#u1042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:238px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:108px;
  width:390px;
  height:238px;
  display:flex;
}
#u1043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:226px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:394px;
  width:397px;
  height:226px;
  display:flex;
}
#u1044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:302px;
  width:170px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1045 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1045_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:293px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:345px;
  width:407px;
  height:293px;
  display:flex;
}
#u1046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:652px;
  width:800px;
  height:450px;
  display:flex;
}
#u1047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:156px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1184px;
  width:706px;
  height:156px;
  display:flex;
  color:#FF00E9;
}
#u1048 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:377px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:652px;
  width:404px;
  height:377px;
  display:flex;
}
#u1049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:462px;
  width:90px;
  height:40px;
  display:flex;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:640px;
  width:90px;
  height:40px;
  display:flex;
}
#u1051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:560px;
  width:90px;
  height:40px;
  display:flex;
}
#u1052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:710px;
  width:90px;
  height:40px;
  display:flex;
}
#u1053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:25px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:92px;
  width:366px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF00E9;
}
#u1054 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:64px;
  width:126px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1055 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1055_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:376px;
  width:112px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1056 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:20px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:325px;
  width:593px;
  height:20px;
  display:flex;
  color:#FF00E9;
}
#u1057 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1057_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:780px;
  width:608px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
