body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:43px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:320px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:112px;
  width:300px;
  height:320px;
  display:flex;
}
#u1022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:108px;
  width:300px;
  height:170px;
  display:flex;
}
#u1023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:480px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:462px;
  width:300px;
  height:480px;
  display:flex;
}
#u1024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:230px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:392px;
  width:347px;
  height:230px;
  display:flex;
}
#u1025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:234px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:112px;
  width:395px;
  height:234px;
  display:flex;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:238px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:108px;
  width:390px;
  height:238px;
  display:flex;
}
#u1027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:226px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:394px;
  width:397px;
  height:226px;
  display:flex;
}
#u1028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:302px;
  width:170px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:293px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:345px;
  width:407px;
  height:293px;
  display:flex;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:652px;
  width:800px;
  height:450px;
  display:flex;
}
#u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:156px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1184px;
  width:706px;
  height:156px;
  display:flex;
  color:#FF00E9;
}
#u1032 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:377px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:652px;
  width:404px;
  height:377px;
  display:flex;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:462px;
  width:90px;
  height:40px;
  display:flex;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:640px;
  width:90px;
  height:40px;
  display:flex;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:560px;
  width:90px;
  height:40px;
  display:flex;
}
#u1036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:710px;
  width:90px;
  height:40px;
  display:flex;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:25px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:92px;
  width:366px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF00E9;
}
#u1038 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:64px;
  width:126px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:376px;
  width:112px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:20px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:325px;
  width:593px;
  height:20px;
  display:flex;
  color:#FF00E9;
}
#u1041 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1041_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00E9;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:780px;
  width:608px;
  height:16px;
  display:flex;
  color:#FF00E9;
}
#u1042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
