body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:6910px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:688px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:1910px;
  height:688px;
  display:flex;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:688px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:262px;
  width:1918px;
  height:688px;
  display:flex;
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:688px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:3801px;
  top:262px;
  width:1922px;
  height:688px;
  display:flex;
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:688px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:5650px;
  top:262px;
  width:1260px;
  height:688px;
  display:flex;
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6910px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1030px;
  width:6910px;
  height:170px;
  display:flex;
}
#u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
