body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:6910px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:688px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:1910px;
  height:688px;
  display:flex;
}
#u1047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:688px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:262px;
  width:1918px;
  height:688px;
  display:flex;
}
#u1048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:688px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:3801px;
  top:262px;
  width:1922px;
  height:688px;
  display:flex;
}
#u1049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:688px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:5650px;
  top:262px;
  width:1260px;
  height:688px;
  display:flex;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6910px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1030px;
  width:6910px;
  height:170px;
  display:flex;
}
#u1051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
