body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:6910px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:688px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:1910px;
  height:688px;
  display:flex;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:688px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:1904px;
  top:262px;
  width:1918px;
  height:688px;
  display:flex;
}
#u998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:688px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:3801px;
  top:262px;
  width:1922px;
  height:688px;
  display:flex;
}
#u999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:688px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:5650px;
  top:262px;
  width:1260px;
  height:688px;
  display:flex;
}
#u1000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6910px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1030px;
  width:6910px;
  height:170px;
  display:flex;
}
#u1001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
