body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
  display:flex;
}
#u1339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:249px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:351px;
  width:659px;
  height:249px;
  display:flex;
}
#u1340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:211px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:370px;
  width:270px;
  height:211px;
  display:flex;
}
#u1341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:380px;
  width:200px;
  height:41px;
  display:flex;
}
#u1342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:432px;
  width:260px;
  height:44px;
  display:flex;
}
#u1343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:480px;
  width:188px;
  height:44px;
  display:flex;
}
#u1344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:530px;
  width:211px;
  height:40px;
  display:flex;
}
#u1345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
