body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:864px;
  display:flex;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:249px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:351px;
  width:659px;
  height:249px;
  display:flex;
}
#u1390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:211px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:370px;
  width:270px;
  height:211px;
  display:flex;
}
#u1391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:380px;
  width:200px;
  height:41px;
  display:flex;
}
#u1392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:432px;
  width:260px;
  height:44px;
  display:flex;
}
#u1393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:480px;
  width:188px;
  height:44px;
  display:flex;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:530px;
  width:211px;
  height:40px;
  display:flex;
}
#u1395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
